:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*------------------------------------------*/
body {
  background-color: rgba(221, 221, 222, 1);
  padding: 10px;
}
/*rgba(237, 237, 237, 1)*/
header {
  /*background-image: linear-gradient(to right, rgba(116, 177, 239, 1) 30%, rgba(12, 12, 13, 1) 80%);*/
  border-radius: 0px 12px;
  background-color: rgba(12, 12, 13, 0.7);
}

.header__title {
  width: 30%;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 0px 0px 45px;
  background-color: rgba(116, 177, 239, 1);
  letter-spacing: 1.3px;
  text-align: left;
  color: white;
}





h1 {
  font-size: 3.2em;
  line-height: 1.1;
}