:root {
/*   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 */  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*------------------------------------------*/
html, body {
  background-color: rgba(234, 229, 225);
  height: unset !important;
}
html > body {
  /* background-color: rgba(221, 221, 222, 1); */
  background-color: rgba(234, 229, 225);
  padding: 10px;
  min-height: 100vh;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.center-all {
  justify-content: center;
  align-items: center;
}

.space-btw {
  justify-content: space-between;
}

.space-ard {
  justify-content: space-around;
}

/*------------------------------------------*/
/*------------------ HEADER ----------------*/
/*------------------------------------------*/

header {
  border-radius: 0px 12px;
  background-color: rgb(51, 44, 42);
}

.header__title {
  width: 50%;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 0px 0px 45px;
  background-color: rgb(77, 127, 150);
  letter-spacing: 1.3px;
  text-align: left;
  color: white;
}
/*------------------------------------------*/
/*------------------ MAIN ------------------*/
/*------------------------------------------*/
main {
  padding: 40px 20px 20px;
}

.appointment__title {
  color: rgb(156,88,98) !important;
  position: relative;
}

.appointment__title::after {
  content: "";
  position: absolute;
  width: 70px;
  display: block;
  height: 2px;
  left: 40px;
  bottom: -5px;
  background-color: rgb(156,88,98);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*------------------- SEARCH FIELD  ------------------*/

.ant-input-search-button {
  border: 0px;
  height: 30px !important;
}

.search-field {
  width: 200px;
}

.search-field .anticon-search {
  color: rgb(156,88,98);
  font-weight: bolder;
}

/*------------------ APPOINTMENT STATUS STATS  ------------------*/

.status-stats {
  border-radius: 0px 20px;
  padding: 10px;
  width: 90%;
  max-width: 310px;
}

.status-stats .stats {
  font-weight: bold;
  font-size: 1.6rem;
}

.status-stats.passed {
  /* background-color: rgba(0, 100, 0, 0.1); */
  background-color: rgba(196, 205, 196);
}

.status-stats.missed {
  /* background-color: rgba(240, 52, 52, 0.1); */
  background-color: rgb(233, 194, 196);
}

.status-stats.rescheduled {
  /* background-color: rgba(255,165,0,0.2); */
  background-color: rgba(233,210,180);
}

.status-stats .passed {
  /* color: rgba(0, 100, 0, 1); */
  color: rgb(57, 105, 76);
}

.status-stats .missed {
  /* color: rgba(180, 0, 170, 1); */
  color: rgba(197, 25, 40);
}

.status-stats .rescheduled {
  color: rgb(216,130,18);
}

/*------------------- NAV LINKS ------------------*/

.gt-record {
  position: absolute;
  right: 20px;
  bottom: 15px;
  background-color: rgb(171,79,93);
  padding: 0px 4px;
  border-radius: 5px;
  color: rgba(234, 229, 225);
}

.gtl {
  position: absolute;
  left: 40px;
  font-size: 20px;
}

/*------------------- NEW RECORD  ------------------*/

/* Form Input Item Style */
.column-wrapper .ant-form-item-row {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.form__heading {
  width: 100%;
  margin: 20px auto;
}

.form__divider {
  background-color: rgb(176,172,168);
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-picker .ant-picker-suffix {
  color:unset;
}

.txt-area {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.submit-wrapper {
  width: 100%;
  margin-top: 25px;
}

.submit-color {
  background-color: rgb(171,79,93);
  color: white;
  font-weight: 900;
  float: right;
}

/*----------------------------------------------------*/
/*------------------- MEDIA QUERY   ------------------*/
/*----------------------------------------------------*/
@media screen and (min-width: 668px) {
  .header__title {
    min-width: 30%;
    max-width: 280px;
  }
}

@media screen and (min-width: 1100px) {
  #control-ref {
    padding-left: 50px;
  }
}