:root {
/*   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 */  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*------------------------------------------*/
body {
  background-color: rgba(221, 221, 222, 1);
  padding: 10px;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.center-all {
  justify-content: center;
  align-items: center;
}

.space-btw {
  justify-content: space-between;
}

.space-ard {
  justify-content: space-around;
}

/*------------------------------------------*/
/*------------------ HEADER ----------------*/
/*------------------------------------------*/

header {
  border-radius: 0px 12px;
  background-color: rgba(12, 12, 13, 0.7);
}

.header__title {
  width: 50%;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 0px 0px 45px;
  background-color: rgba(116, 177, 239, 1);
  letter-spacing: 1.3px;
  text-align: left;
  color: white;
}
/*------------------------------------------*/
/*------------------ MAIN ------------------*/
/*------------------------------------------*/
main {
  padding: 40px 20px 20px;
}

.appointment__title {
  color: rgba(180, 0, 170, 1);
  position: relative;
}

.appointment__title::after {
  content: "";
  position: absolute;
  width: 78px;
  display: block;
  height: 2px;
  left: 33px;
  background-color: rgba(180, 0, 170, 1);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*------------------- SEARCH FIELD  ------------------*/

.ant-input-search-button {
  border: 0px;
  height: 30px !important;
}

.search-field {
  width: 200px;

}

/*------------------ STATUS STATS  ------------------*/

.status-stats {
  border-radius: 0px 20px;
  padding: 10px;
  width: 90%;
  max-width: 310px;
}

.status-stats .stats {
  font-weight: bold;
  font-size: 1.6rem;
}

.status-stats.passed {
  background-color: rgba(0, 100, 0, 0.1);
}

.status-stats.missed {
  background-color: rgba(240, 52, 52, 0.1);
}

.status-stats.rescheduled {
  background-color: rgba(255,165,0,0.2);
}

.status-stats .passed {
  color: rgba(0, 100, 0, 1);
}

.status-stats .missed {
  color: rgba(180, 0, 170, 1);
}

.status-stats .rescheduled {
  color: rgb(255,165,0);
}

/*----------------------------------------------------*/
/*------------------- MEDIA QUERY   ------------------*/
/*----------------------------------------------------*/
@media screen and (min-width: 668px) {
  .header__title {
    min-width: 30%;
    max-width: 280px;
  }
}